<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post">
        <input type="text" placeholder="firstName" name="firstName">
        <input type="text" placeholder="lastName" name="lastName">
        <input type="text" placeholder="email" name="email">
        <input type="text" placeholder="password" name="password">
        <input type="text" placeholder="age" name="age">
        <input type="text" placeholder="city" name="city">
        <button>save</button>
    </form>
</body>
</html>